{% extends "base-form.njk" %}
{% from "components/onPageLoad/macro.njk" import ga4OnPageLoad %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% set hmpoPageKey = "abandonCheck" %}
{% set isPageHeading = true %}

{% block mainContent %}

<h1 id="header" class="govuk-heading-l">{{translate("pages.abandonCheck.title")}}</h1>

 {% call hmpoForm(ctx) %}
      {{ hmpoRadios(ctx, {
            id: "abandonRadio",
            namePrefix: "abandonRadio",
            fieldset: {
                legend: {
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            }
        }) }}

  {{ govukWarningText({text: translate("abandonCheck.warning")}) }}

  {{ hmpoSubmit(ctx, {id: "continue", attributes: {"data-nav": true, "data-link": "/undefined"}, text: translate("buttons.next")}) }}
  <script nonce="{{ cspNonce }}">
        var formSubmitted = false;
        submitSpinner()
        function delayDisableButton(button) {
          button.className += ' button--spinner'
          setTimeout(function() {
                button.setAttribute('disabled', true)
            }, 200);
        }
        function submitSpinner() {
          var select = document.getElementById('continue')
          select.addEventListener('click', function (event) {
          if (formSubmitted) {
                event.preventDefault()
              } else {
                formSubmitted = true;
                delayDisableButton(event.target);
            }
          })
        }
        </script>

  {{ hmpoHtml(translate("pages.abandonCheck.contact")) }}

  {% endcall %}

  {{ ga4OnPageLoad({
    nonce: cspNonce,
    statusCode: '200',
    englishPageTitle: 'pages.abandonCheck.title' | translate,
    taxonomyLevel1: 'web cri',
    taxonomyLevel2: 'kbv',
    contentId: '813d082c-191a-4ea3-a1de-0be164ea42c1',
    loggedInStatus: true,
    dynamic: false
  }) }}

{% endblock %}
