{% extends "form-template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set hmpoPageKey = "check" %}

{% block mainContent %}

<h1 id="header">{{translate("pages.check.title")}}</h1>

{% call hmpoForm(ctx) %}

{{ hmpoHtml(translate("pages.check.content")) }}

{{ govukDetails({
summaryText: translate("pages.check.details.title"),
html: hmpoHtml(translate("pages.check.details.content"))
}) }}

{{ hmpoSubmit(ctx, {text: translate("buttons.next")}) }}

{% endcall %}

{% endblock %}
