{% extends "base-form.njk" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "components/onPageLoad/macro.njk" import ga4OnPageLoad %}

{% set gtmJourney = "kbv - middle" %}

{% set hmpoTitle = question.label %}

{% block mainContent %}

  {% call hmpoForm(ctx) %}
    {{ hmpoRadios(ctx, question) }}
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  {% endcall %}

  {{ hmpoHtml(translate("pages.simplifiedQuestion.abandon")) }}

{{ ga4OnPageLoad({
  nonce: cspNonce,
  statusCode: '200',
  englishPageTitle: question.label | translate,
  taxonomyLevel1: 'web cri',
  taxonomyLevel2: 'kbv',
  contentId: question.id,
  loggedInStatus: true,
  dynamic: false
}) }}

{% endblock %}
