{% extends "base-form.njk" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/onPageLoad/macro.njk" import ga4OnPageLoad %}

{% set gtmJourney = "kbv - middle" %}

{% set hmpoTitle = question.label %}

{% set backLink = null %}

{% block mainContent %}

  {% call hmpoForm(ctx) %}
    {{ hmpoRadios(ctx, question) }}

    {{ govukDetails({
      summaryText: translate("pages.simplifiedQuestion.abandon"),
      text: translate("pages.simplifiedQuestion.abandonBody") | safe
    }) }}

    {{ hmpoSubmit(ctx, {id: "continue", attributes: {"data-nav": true, "data-link": "/undefined"}, text: translate("buttons.next")}) }}
    <script nonce="{{ cspNonce }}">
        var formSubmitted = false;
        submitSpinner()
        function delayDisableButton(button) {
          button.className += ' button--spinner'
          setTimeout(function() {
                button.setAttribute('disabled', true)
            }, 200);
        }
        function submitSpinner() {
          var select = document.getElementById('continue')
          select.addEventListener('click', function (event) {
            if (formSubmitted) {
              event.preventDefault()
            } else {
             formSubmitted = true;
              delayDisableButton(event.target);
            }
          })
        }
        </script>
  {% endcall %}

{{ ga4OnPageLoad({
  nonce: cspNonce,
  statusCode: '200',
  englishPageTitle: question.label | translate,
  taxonomyLevel1: 'web cri',
  taxonomyLevel2: 'kbv',
  contentId: question.id,
  loggedInStatus: true,
  dynamic: false
}) }}

{% endblock %}
